<!doctype html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

  <div class="col-md-6 grid-margin stretch-card" style="margin-left:200px">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Add rooms</h4>
        <form class="forms-sample" method="POST" action="{% url 'save_roompage' %}" enctype="multipart/form-data">
          {% csrf_token %}
           <div class="form-group">
             <label for="exampleSelectGender">Roomtype</label>
             <select class="form-select" name="Roomtype">
               <option>select</option>
               {% for i in data %}
               <option>{{ i.NAME }}</option>
               {% endfor %}
             </select>
           </div>
           <div class="form-group">
            <label for="exampleInputUsername1">Room name</label>
            <input type="text" class="form-control" id="Roomname" placeholder="Room type" name="Roomname">
          </div>
          <div class="form-group">
            <label for="exampleInputpernight">Per night</label>
            <input type="text" class="form-control" id="Rprice" placeholder="Per night" name="Rprice">
          </div>
          <div class="form-group">
            <label for="ImageFiled">Upload image</label>
            <input type="file" class="form-control" id="Rimage" placeholder="Upload image" name="Rimage">
          </div>
          <div class="form-group">
            <label for="exampleInputUsername3">Bedding</label>
            <input type="text" class="form-control" id="Rbed" placeholder="Beddinng" name="Rbed">
          </div>
          <div class="form-group">
            <label for="exampleInputUsername3">View</label>
            <input type="text" class="form-control" id="Rview" placeholder="View" name="Rview">
          </div>
          <div class="form-group">
            <label for="exampleInputUsername4">POOL</label>
            <input type="text" class="form-control" id="Rpoo" placeholder="Pool" name="Rpool">
          </div>
          <div class="form-group">
            <label for="exampleInputUsername4">Aamenities</label>
            <input type="text" class="form-control" id="Ram" placeholder="Aamenities" name="Rame">
          </div>

          <button type="submit" class="btn btn-primary me-2">Submit</button>
          <button class="btn btn-light">Cancel</button>
        </form>
      </div>
    </div>
  </div>

</body>
</html>
{% endblock %}