<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<div class="card body">
    <h4>PINNACLE</h4>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>IMAGE</th>
                    <th>ROOM TYPE</th>
                    <th>DESCRIPTION</th>
                </tr>
            </thead>
            <tbody>
                {% for i in data %}
                <tr>
                    <td>
                        <img src="{{ i.IMAGE.url }}" style="height:80px;width:100px" alt="Room Image">
                    </td>
                    <td>{{ i.NAME }}</td>
                    <td>{{ i.DESCRIPTION }}</td>
                    <td>
                        <a href="{% url 'editdata' accid=i.id %}">
                            <button class="btn btn-primary me-2">Edit</button>
                        </a>
                        <a href="{% url 'deletedata' accid=i.id %}">
                            <button class="btn btn-primary me-2">Delete</button>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
